.subscription{
    background-color: #fffca8;
    width: 220px;
    height: 60px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}
   
h1{
    color: rgb(255, 201, 170);
    font-family: 'Poppins', sans-serif;
}    

        

body {
    background-color: #000000;
    
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 80%;
    height: max-content;
    padding: 20px;
    margin: 0 auto;
    background-color: #ff9292;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    
    
    
}

.subscription label{
    font-size: 20px;
    
}

.subscription select{
    background-color: rgb(255, 211, 190);
    border-radius: 6px;
    font-size: 18px;
    border: none;
    padding: 5px;
    background: rgba(255, 255, 255, 0.16);
border-radius: 12px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 255, 255, 0.53);
    
} 

#total {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    width: fit-content;
    height: fit-content;
    background-color: bisque;
    
    border-radius: 30px;
    padding: 15px;
  }

/* .hulu {
    background-image: linear-gradient(to right,rgb(20, 126, 20), #c5fe53 , rgb(54, 92, 51));
}

.netflix{
    background-image: linear-gradient(to right,rgb(59, 36, 36), #ff303a , rgb(73, 49, 49));
}

.prime{
    background-image: linear-gradient(to right,rgb(46, 49, 60), #5a96ef , rgb(43, 43, 54));
}
.disney{
    background-image: linear-gradient(to right,rgb(59, 76, 137), #91bdff ,rgb(86, 86, 149));
}

.youtube{
    background-image: linear-gradient(to right,rgb(249, 45, 45), #faa2a2 ,rgb(255, 62, 62));
    
}

.spotify{
    background-image: linear-gradient(to right,rgb(66, 149, 107), #71fc9a ,rgb(81, 139, 91));
}

.aha{
    background-image: linear-gradient(to right,rgb(248, 143, 83), #ffba74 ,rgb(255, 165, 48));
}

.sony{
    background-image: linear-gradient(to right,rgb(74, 113, 255), #feeb70 ,rgb(183, 53, 253));
}

.hbo{
    background-image: linear-gradient(to right,rgb(59, 76, 137), #e491ff ,rgb(86, 86, 149));
}

.appletv{
    background-image: linear-gradient(to right,rgb(94, 93, 93), #e5e4e4 ,rgb(78, 78, 78));
}

.paramount{
    background-image: linear-gradient(to right,rgb(109, 109, 210), #fee1ad ,rgb(109, 109, 210));
} */